*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(135deg , #88be24,#51543e);
}

#container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid black;
    width: 1000px;
    height: 700px;
    background-color: #fff;
    border-radius: 50px;
    text-align: center;
    padding-top: 10px;
}

#container p{
 padding-top: 20px;
 font-weight: bold;
 color: red;
}

#container1{
    padding-top: 10px;
    margin-top: 50px;
    margin-left: 10%;
    display: flex;
    justify-content: space-evenly;
    width: 800px;
    align-items: center;
}

#container11{
    width: 400px;
    height: 500px;
    margin-right: 10px;
    border: 1px solid black;
    border-radius: 20px;
    display: grid;
    justify-content: center;
}

#container12{
    width: 400px;
    height: 500px;
    margin-left: 10px;
    border: 1px solid black;
    border-radius: 20px;
}

#div1{
    padding-top: 20px;
    display: inline-block;
    /* border:1px solid black; */
    width: 100%;
}

label{
    font-size: 1.8em;
}

input[type="range"]{
   width: 100%;
   accent-color: blue;
}

#read{
    width: 300px;
    padding-top: 20px;
    outline: none;
    display: inline-block;
}

#read p{
    width: 100%;
    padding: 20px;
    color: black;
    font-size: 2em;
    border: 1px solid black;
    border-radius: 10px;
}

#btn{
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    background-color: blue;
    color:#fff;
    font-size: 1.8em;
}
